/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  color: var(--font-color);
  font-family: "Inter-Variable", monospace, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: var(--font-weight-paragraph);
  line-height: auto;

  background-color: var(--bg-color);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 103px;
}

.background-gradient {
  background-size: cover;
  background-image: repeating-linear-gradient(
      to left,
      var(--strip) 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      var(--start-gradient, --end-gradient) 2px,
      transparent 4px
    ),
    linear-gradient(
      180deg,
      var(--start-gradient) 0.1%,
      var(--end-gradient) 100%
    );
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-bottom: 25px;
  text-transform: uppercase;
  min-height: 368px;
  padding-left: 120.5px;
  padding-right: 120.5px;
  border: 2px solid var(--font-color);
  background-color: var(--bg-color);
  max-width: 700px;
}

.title {
  font-family: "PressStart2P", monospace, sans-serif;
  font-size: 65px;
  margin-bottom: 20px;
}

.subtitle {
  font-family: "PressStart2P", monospace, sans-serif;
  font-size: 23px;
  margin-bottom: 25px;
}

.theme-menu {
  font-family: "PressStart2P", monospace, sans-serif;
  font-size: 14px;
  border: "none";
  background-color: transparent;
}

.theme-menu__list {
  padding-left: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  height: 14px;
  text-transform: uppercase;
  background-color: transparent;
  appearance: none;
  border: none;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
}

.theme-menu__button:hover {
  color: var(--hover-effect);
  opacity: 60%;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  color: var(--hover-effect);
  overflow: hidden;
  outline: none;
  position: relative;
}

.theme-menu__button::after {
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background: currentColor;
  position: absolute;
  display: block;
  transform-origin: left top;
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible:after {
  width: 100%;
}


.theme-menu__button:disabled {
  position: relative;
  color: var(--font-color);
  opacity: 60%;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  position: absolute;
  left: -24px;
  content: "▶";
  animation: arrow ease-in-out 0.5s infinite reverse;
}

/* //Cекция с карточками */
.layout {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
  max-width: 700px;
}

.card {
  border: 2px solid var(--font-color);
  background-color: var(--bg-color);
}

.card-title {
  font-weight: 700;
  line-height: 21.78px;
  text-align: left;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  color: var(--font-color);
  padding: 3px 24px 6px 10px;
}

.tag {
  position: absolute;
  top: 28px;
  right: 25px;
  font-family: "PressStart2P", monospace, sans-serif;
  font-size: 14.3px;
  color: var(--font-color);
  text-shadow: 0 0 3px var(--label-text-shadow, #fff);
  mix-blend-mode: hard-light;
}

.img-container {
  object-fit: cover;
  position: relative;
}

.img {
  height: 696px;
  object-fit: cover;
  width: 100%;
  position: relative;
}

.blur {
  filter: blur(0.4rem);
}

.contrast {
  filter: contrast(50%);
}

.brightness {
  filter: brightness(200%);
}

.grayscale {
  filter: grayscale(0.5);
}

.hue-rotate {
  filter: hue-rotate(20deg);
}

.invert {
  filter: invert(0.7);
}

.sepia {
  filter: sepia(80%);
}

.card-description {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
}

.text {
  font-family: inherit;
  line-height: 21px;
  color: var(--font-color);
  line-height: 21px;
}

.card__controls {
  align-self: end;
  display: flex;
  justify-content: center;
  gap:7px;
}

.button__text {
  font-size: 14px;
  position: relative;
  color: var(--font-color);
  cursor: pointer;
  font-family: "PressStart2P", monospace, sans-serif;
  z-index: 2;
  mix-blend-mode: difference;
  font-size: 14px;
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
  cursor: pointer;
}

.card__like-button {
  position: relative;
  width: 126px;
  height: 38px;
  padding: 0px;
  z-index: 2;
  position: relative;

  align-self: flex-end;
  margin-top: 2px;
  height: 38px;
  /* max-width: 130px; */
  background-color: var(--bg-color);
  padding: 12.5px 37px;
  color: var(--font-color);
  overflow: hidden;
}

.card__like-button:focus {
  box-shadow: 2px 2px 0px var(--font-color);
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0px var(--font-color);
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.card__like-button:hover {
  position: relative;
}

.card__like-button:hover::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: var(--font-color);
  inline-size: 100%;
  animation-name: scale;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

/* Кнопка- Сердечко */



.card__icon-button {
  font-size: 0;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 38px;
  background-color: transparent;

}

.heart {
  width: 37px;
  height: 37px;
  text-align: center;
}
.heart:focus{
  outline:none;
}

.heart:focus-visible {
  border: 2px solid var(--font-color);
}

.sparks {
  opacity: 0%;
}

.like-icon {
  fill: var(--font-color);
  width: 39px;
  height: 36px;
}

.core {
  fill: transparent;
  transition: fill;
  transition-delay: 0.03s;
  transition-timing-function: linear;
}
.main-body {
  fill: transparent;
  transition: fill;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  
}


/* наведение */
.like-icon:hover .core {
  fill: var(--font-color);
  transition-duration: 0.03s;
}
.like-icon:hover .main-body {
  transition-delay: 0.05s;
  fill: var(--font-color);
}

/* активно когда зажали на сердце */
.like-icon:active .core{
  fill: var(--heart-color);
  transition-duration: 0.03s;
}

.like-icon:active .main-body{
  fill: var(--heart-color);
  transition-duration: 0.05s;
}

/* клик */
.like-icon.is-liked .core {
  animation: 0.3s core forwards;
}

.like-icon.is-liked .main-body {
  animation: 0.3s main-body forwards;
  animation-delay: 0.2s;
}

.like-icon.is-liked .contur {
  animation: 0.3s contur forwards;
  animation-delay:0.6s;
}

.like-icon.is-liked .heart {
  animation: 0.3s contur ease-in ;
  animation-delay: 0.1s;
}

.like-icon.is-liked .sparks {
  animation-name: sparks;
  animation-duration: 0.3s;
  animation-direction: alternate;
}



.dialog:opened {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  width: 353px;
  height: 191px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 75%;
}

.dialog-button {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  color: var(--font-color);
  font-family: "PressStart2P", monospace, sans-serif;
  font-size: 14px;
  border: 2px solid var(--font-color);
}

@media (width <= 375px) {


}
