/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root{

  --heart-like: red;
  --heart-contour: #000000;
  --blend-mode:#fff;
}